.page {
  width: 600px;
  margin: 0 auto;
}

.synopsis {
  color: #7e8184;
  font-style: italic;
}
.synopsis em {
  /* descendant selector - only grabs the em found in synopsis class */
  font-style: normal;
}

.button:link,
.button:visited {
  color: #fff;
  background-color: #5995da;
  font-weight: bold;
  padding: 20px;
  border: 2px solid #5d6063;
  text-align: center;
  border-radius: 5px;
  width: 200px;
  margin: 20px auto; /* auto for width margin will center this element */
  display: block; /* a tags are inline by default */
  text-decoration: none;
}

.button:hover,
.button:visited:hover {
  color: #fff;
  background-color: #76aeed;
}

.button:active,
.button:visited:active {
  color: #fff;
  background-color: #5995da;
}

.call-to-action:link,
.call-to-action:visited {
  font-style: italic;
  background-color: #eeb75a;
}

.call-to-action:hover,
.call-to-action:visited:hover {
  background-color: #f5cf83;
}

.call-to-action:active,
.call-to-action:visited:active {
  background-color: #eeb75a;
}

/* Pseudo-classes */

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  color: aqua;
  text-decoration: underline;
}

a:active {
  color: red;
}

/* if we have visited the site, on hover we get a special colour - breaks a:active though*/
a:visited:hover {
  color: orange;
}

a:visited:active {
  color: red;
}

p:last-of-type {
  /* only styles the last <p> in EVERY CONTAINER - there is also a :first-of-type */
  margin-bottom: 50px;
}
